.deal-filter-menu, .deal-filter-menu-first {
    width: 200px;
    padding: 0 8px;
    background-color: #dedede;
    height: 100%;
}

@media only screen and (max-width: 960px) {
    .deal-filter-menu-first {
        display: none;
    }
}

@media only screen and (mix-width: 961px) {
    .deal-filter-menu-first {
        display: block;
    }
}
